<footer class="flex flex-col justify-center gap-4 p-4 mt-2 bg-gray-800 text-white mb-0">
    <div class="flex justify-center items-center gap-4 p-4">
        <button class="w-9 h-9 transition-transform duration-300 hover:scale-110">
            <a href="https://www.linkedin.com/in/rashmi-unhale-11b86b1a7/" target="_blank">
                <img src="public/images/linkedinlogo.png" class="w-full h-full rounded-[7px]" alt="linked In">
            </a>
        </button>
        <button class="w-9 h-9 transition-transform duration-300 hover:scale-110">
            <a href="https://github.com/rashmi3112" target="_blank">
                <img src="public/images/githublogo.png" class="w-full h-full rounded-[7px]" alt="GitHub">
            </a>
        </button>
        <button class="w-9 h-9 transition-transform duration-300 hover:scale-110">
            <a href="https:/instagram.com/" target="_blank">
                <img src="public/images/instagramlogo.png" class="w-full h-full rounded-[7px]" alt="Instagram">
            </a>
        </button>
    </div>
    
    <div class="flex justify-center items-center gap-2">
        <span class="text-gray-600">Rashmi Unhale</span>
        <span class="text-sky-700">&#64;2025</span>
    </div>
</footer>