<div class="flex justify-center mb-20 pt-24">
    <div class="w-1/2 flex justify-center relative p-10" 
        style="background: url('public/gif/chat_17569431.gif') center/contain no-repeat;">
    </div>
    <mat-divider vertical>
        <div class="h-10 w-[2px] bg-gray-400 dark:bg-gray-600"></div>
    </mat-divider>
    <div class="w-1/2 flex justify-center items-center">
        <form [formGroup]="contactForm" (ngSubmit)="submitForm()" class="flex-1 space-y-1 gap-1 pl-8 pr-28">
            <h1 class="text-xl text-center font-bold">Let's connect</h1>
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text" placeholder="Name">
                <mat-error *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">Name is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" class="w-full h-5 text-xl px-3 py-4 text-gray-800" type="email" placeholder="Email">
                <mat-error *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">Email is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="message" placeholder="Message" class="w-full text-xl px-3 py-4" rows="3"></textarea>
                <mat-error *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">Message is required.</mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit"
                class="py-2 px-4 w-full text-white font-bold text-xl hover:bg-green-600 transition"
                [disabled]="contactForm.invalid || isLoading">
                <span *ngIf="!isLoading">Submit</span>
                <span *ngIf="isLoading">Submitting...</span>
            </button>
        </form>
    </div>
</div>