<div class="max-auto gap-5 mx-auto">
    <h2 class="flex justify-center text-3xl font-bold pt-28">Skills</h2>
    <div class="flex text-black gap-3 justify-center">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-icon>code</mat-icon> Frontend
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-listbox>
                    <mat-chip-option>Angular</mat-chip-option>
                    <mat-chip-option>JavaScript</mat-chip-option>
                    <mat-chip-option>HTML</mat-chip-option>
                    <mat-chip-option>CSS</mat-chip-option>
                </mat-chip-listbox>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-icon>dns</mat-icon> Backend
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-listbox>
                    <mat-chip-option>.Net</mat-chip-option>
                    <mat-chip-option>MVC</mat-chip-option>
                    <mat-chip-option>Python</mat-chip-option>
                    <mat-chip-option>Php</mat-chip-option>
                    <mat-chip-option>Java</mat-chip-option>
                </mat-chip-listbox>
            </mat-card-content> 
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-icon>storage</mat-icon> Database
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-listbox>
                    <mat-chip-option>SQL Server</mat-chip-option>
                    <mat-chip-option>MySQL</mat-chip-option>
                    <mat-chip-option>Oracle</mat-chip-option>
                </mat-chip-listbox>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-icon>history_edu</mat-icon> Source Control
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-listbox>
                    <mat-chip-option>Git</mat-chip-option>
                    <mat-chip-option>Azure</mat-chip-option>
                </mat-chip-listbox>
            </mat-card-content>
        </mat-card>
    </div>
</div>
