<div class="flex flex-col items-center text-center max-w-2xl mx-auto max-auto bg-white-200 pt-20">
    <h2 class="text-3xl font-bold">About Me</h2>
    <p class="text-lg leading-relaxed">
        I am a Full Stack Developer with <span class="font-semibold">1.6 years</span> of experience in
        .NET & Angular. Currently working as a
        Freelancer, I focus on developing my own projects
        while continuously upskilling. You can check out my work on
        <a href="https://github.com/rashmi3112" class="text-blue-500 hover:underline" target="_blank">GitHub</a> and
        explore
        my personal website. Let's connect for further collaboration!
    </p>
    <p class="text-lg leading-relaxed">Below are my social handles</p>
    <div class="flex justify-center items-center gap-4 p-4">
        <button class="w-9 h-9 transition-transform duration-300 hover:scale-110">
            <a href="https://www.linkedin.com/in/rashmi-unhale-11b86b1a7/" target="_blank">
                <img src="/images/linkedinlogo.png" class="w-full h-full rounded-[7px]" alt="linked In">
            </a>
        </button>
        <button class="w-9 h-9 transition-transform duration-300 hover:scale-110">
            <a href="https://github.com/rashmi3112" target="_blank">
                <img src="/images/githublogo.png" class="w-full h-full rounded-[7px]" alt="GitHub">
            </a>
        </button>
    </div>
</div>