<app-header></app-header>
<div class="pt-[-60px]">
    <app-home id="home"></app-home>
    <app-about id="about"></app-about>
    <app-skills id="skills"></app-skills>
    <app-projects id="projects"></app-projects>
    <app-contact id="contact"></app-contact>
  </div>
<app-footer></app-footer>

<!--Go to top button-->
<button mat-fab class="fixed bottom-20 right-14 w-14 h-14 bg-green-500 rounded-full flex justify-center items-center shadow-black shadow-lg hover:bg-green-600 transition-transform duration-300 hover:scale-110"
  (click)="scrollToTop()" *ngIf="showGoToTop">
  <mat-icon class="text-2xl text-extrabold mb-2 text-white">arrow_upward</mat-icon>
</button>

<!--Loader-->
<div *ngIf="loadingService.isLoading()"
class="fixed inset-0 flex flex-col items-center justify-center bg-gray-900 bg-opacity-50 z-50">
<div class="animate-spin rounded-full h-20 w-20 border-t-8 border-green-600"></div>
<p class="mt-4 text-white text-4xl">Loading...</p>
</div>